@charset "UTF-8"; 
/*establece a todo el documento una medida de pixeles base especifica*/
*{
	font-size: 14px; 
} 

@font-face {
	font-family: AlexBrush;
	src: url(../fonts/AlexBrush-Regular.ttf);
}

footer h3 {
	color: #FFFFFF;
}

footer p {
	color: #FFFFFF;
}

footer ul li{
	color: #FFFFFF;
}

footer a:link {color: #FFFFFF;}
footer a:visited {color: #FFFFFF;}
footer a:hover {color: #FFFFFF;}
footer a:focus {color: #FFFFFF;}
footer a:active {color: #FFFFFF;}


.logo{
	margin-top: 1%;
	margin-bottom: 1%;
}

.titulo{
	margin-top: 2%;
}

.menu{
	background-color: #AC0E15;
}

.blue{
	color: #017B99 !important;
	font-size: 80px !important;
}

.red{
	color: #AC0E15;
	font-size: 80px !important;
}

.header_center{
	text-align: center;
}

.AlexBrushfont{
	font-family: AlexBrush;
}

.carousel-inner > .item > img,
		  .carousel-inner > .item > a > img {
			  margin: auto;
			  overflow:hidden;
			  height: 300px;
		  }

.altura{
	height: 100px;
}		  
.cuerpo{
	margin-top: 15%;
}
 
.backgroundLightGray{
	background-color: #F0F0F0;
}

.backgroundLightBlue{
	background-color: #017B99;
}

.backgroundGreen{
	background-color: #22E925;
}

.backgroundWhite{
	background-color: #FFFFFF;
}

.fontLightBlue{
	color: #017B99;
}

.fontGreen{
	color: #109812;
}

.required{
	color: red;
}

.centrar{
	text-align: center;
}

/*clase para el disenio del marco contenedor de los tabs*/
/*El padding en .tab-content hace que el contenido no sea presionado contra los nuevos bordes en la derecha e izquierda.*/
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
    padding: 10px;
}

/*establezco aspectos del padding que me ayuden a quedar mejor con el mock up*/
.tab-content .jumbotron{
	padding-top: 2% !important;
	padding-left: 2% !important;
	padding-right: 2% !important;
	padding-bottom: 2% !important;
}

.tab-content .jumbotron p{ /*establezco el tamaño de la fuente para los párrafos de jumbotron*/
	font-size: 0.9em;
}

.tab-content .jumbotron .tarifa p{ /*establezco el tamaño de la fuente para los párrafos de la columna de tarifas*/
	font-size: 0.7em;
}

.tab-content .jumbotron .tarifa p strong{ /*establezco el tamaño de la fuente para los párrafos en negrita de la columna de tarifas*/
	font-size: 4em !important;
}

.nav-tabs {
    margin-bottom: 0; /*remueve el espacio entre el contenido y los tabs*/
	padding-top: 35px;
}

#promociones{
	padding-bottom: 40px;
	padding-top: 40px;
}

#myCarousel{
	margin: auto;
	overflow: hidden;
	height: 300px;
}

/* Media querry para el plugin de números telefonicos*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag {
    background-image: url("lib/intl-tel-input-master/build/img/flags@2x.png");
  }
}
