@charset "UTF-8"; 

@font-face {
	font-family: AlexBrush;
	src: url(../fonts/AlexBrush-Regular.ttf);
}

aside{
	margin-left: 2%;
	border: 1px solid #d4d4d4;
	background-color: white;
}

footer h3 {
	color: #FFFFFF;
}

footer p {
	color: #FFFFFF;
}

footer ul li{
	color: #FFFFFF;
}

footer a:link {color: #FFFFFF;}
footer a:visited {color: #FFFFFF;}
footer a:hover {color: #FFFFFF;}
footer a:focus {color: #FFFFFF;}
footer a:active {color: #FFFFFF;}


.logo{
	margin-top: 1%;
	margin-bottom: 1%;
}

.titulo{
	margin-top: 2%;
	font-size: 3em;
}

.menu{
	background-color: #AC0E15;
}

.blue{
	color: #017B99 !important;
	font-size: 2em;
}

.red{
	color: #AC0E15;
	font-size: 2em;
}

.header_center{
	text-align: center;
}

.AlexBrushfont{
	font-family: AlexBrush;
}
	
.backgroundLightGray{
	background-color: #F0F0F0;
}

.backgroundLightBlue{
	background-color: #017B99;
}

.backgroundGreen{
	background-color: #22E925;
}

.backgroundWhite{
	background-color: #FFFFFF;
}

.fontLightBlue{
	color: #017B99;
}

.fontGreen{
	color: #109812;
}

.required{
	color: red;
}

.centrar{
	text-align: center;
}

/*clase para el disenio del marco contenedor de los tabs*/
/*El padding en .tab-content hace que el contenido no sea presionado contra los nuevos bordes en la derecha e izquierda.*/
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
    padding: 10px;
}

/*establezco aspectos del padding que me ayuden a quedar mejor con el mock up*/
.tab-content .jumbotron{
	padding-top: 2% !important;
	padding-left: 2% !important;
	padding-right: 2% !important;
	padding-bottom: 2% !important;
}

.tab-content .jumbotron p{ /*establezco el tamaño de la fuente para los párrafos de jumbotron*/
	font-size: 0.9em;
}

.tab-content .jumbotron .tarifa p{ /*establezco el tamaño de la fuente para los párrafos de la columna de tarifas*/
	font-size: 0.7em;
}

.tab-content .jumbotron .tarifa p strong{ /*establezco el tamaño de la fuente para los párrafos en negrita de la columna de tarifas*/
	font-size: 4em !important;
}

.nav-tabs {
    margin-bottom: 0; /*remueve el espacio entre el contenido y los tabs*/
	padding-top: 35px;
}

.modal-footer{
	margin-top:40%;
}

#promociones{
	padding-bottom: 40px;
	padding-top: 40px;
}

#tel{
	width: 100%;
}